{% extends "accounts/main.html" %}

{% load static %}

{% block content %}


    <div class="col-md-4">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">Customer Orders</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-small list-group-flush">
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">TOTAL ORDERS</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ order_count}}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">ORDERS DELIVERED</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ delivered_orders }}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">ORDER PENDING</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ pending_orders }}</span>
                    </li>
                                            
                </ul>
            </div>
            <div class="card-footer border-top">
                <div class="row">
                    <div class="col">
                        <select class="custom-select custom-select-sm">
                            <option selected>Today</option>
                            <option value="1">Last Week</option>
                            <option value="2">Last Month</option>
                            <option value="3">Last Year</option>
                        </select>
                    </div>
                    <div class="col text-right view-report">
                        <a href="#">Full report &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Discussions Component -->

{% endblock content %}