{% extends "accounts/main.html" %}

{% load static %}

{% block content %}

<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Customer</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
            </li>          
        </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2020
                <a href="https://symaxx.com" rel="nofollow">Bukhosi Moyo</a>
            </span>
    </footer>
</main>
{% endblock content %}

